<div class="yp-header">
<div class="yp-header-left-btn">
    	<a href="<%= jobs_path %>"><div class="yp-header-left-btn-icon"><%= image_tag "yp-list-header-back-icon.png" %></div></a>
  </div>
    <div class="yp-header-logo">
    	<a href="<%= root_path %>"><div class="yp-header-logo-icon"><%= image_tag "yp-home-yapjobs-logo.png" %></div></a>
    </div>
    <div class="yp-header-next-btn">
      
    </div>
    <div class="clearBoth"></div>
</div>
<%= form_tag('/search/list', method: "get") do %>
<div class="yp-search-setting-section">
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Location</div><div class="yp-search-setting-label-right "></div>
<div class="clearBoth"></div>
</div>
<div class="yp-search-setting-input">
<%= text_field_tag 'location', "#{params[:location]}", id: "autocomplete_address", style: 'width: 100%' %>
<%= hidden_field_tag "current_position" %>
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Distance Within</div><div class="yp-search-setting-label-right"><div id='distance_value'><%= params[:distance] %></div>&nbsp;Miles</div>
<div class="clearBoth"></div>
</div>
<%= range_field_tag(:distance, value = params[:distance].present? ? params[:distance] : 50, options = {:min => 0, :max => 100, :step => 10, :class => "yp-search-setting-slider"}) %>

<!-- <div id="slider1"  class="yp-search-setting-slider" ></div> -->

<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Position</div>
<div class="clearBoth"></div>
</div>


<!-- Single button -->
<!-- <div class="dropdown">
<div id="job_role_dropdown" data-toggle="dropdown" class="job-role-search-position dropdown-toggle" aria-expanded="false">
                            <div class="job-role-lable search-job-role-lable-selected no-icon-list-selected">
                              All
                            </div>
                            <div class="job-role-lable-arrow caret"></div>
                            <div class="clearfix"></div>
                          </div>

    <ul class="dropdown-menu job-role-position-search-dropdown-menu">
      <li><a id="-1" class="job_role_search no-icon-list" href="#" >All</a></li>
      <%- @job_roles["job_roles"].each do |job_role| %>
             <li> <a id="<%= "#{job_role["id"]}" %>" class="job_role_search <%= "#{job_role["slug"]}" %>" name="<%= "#{job_role["slug"]}" %>" href="#"><%= "#{job_role["name"]}" %></a></li>
      <%- end %> 
    </ul>
</div>
-->
    <div class="dropdown">
      <div id="job_role_dropdown" data-toggle="dropdown" class="job-role-search-position dropdown-toggle" aria-expanded="false">
        <div class="job-role-lable search-job-role-lable-selected no-icon-list-selected">
          All
        </div>
        <div class="job-role-lable-arrow caret"></div>
        <div class="clearfix"></div>
      </div>
      <ul class="dropdown-menu">
        <li><a id="-1" class="job_role_search no-icon-list" href="#" >All</a></li>
          <%- @job_roles["job_roles"].each do |job_role| %>
             <li><a id="<%= "#{job_role["id"]}" %>" class="job_role_search <%= "#{job_role["slug"]}" %>" name="<%= "#{job_role["slug"]}" %>" href="#"><%= "#{job_role["name"]}" %></a>
             </li>
          <% end %> 
      </ul>
    </div>
    <%= hidden_field_tag 'job_role_id', '-1' %>
<!-- <div class="yp-set-dropdown-btn-group">

 <button type="button" class="yp-set-dropdown-btn" >
    <span class="yp-set-dropdown-btn-icon"><%= image_tag "yp-drop-down-icon-1.png" %></span>Receptionist 
  </button> 

</div> -->


<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Hourly Rate</div><div class="yp-search-setting-label-right-rate">₤ <div id='hourly_rate_value'><%= params[:hourly_rate] %></div></div>
<div class="clearBoth"></div>
</div>
<%= range_field_tag(:hourly_rate, value = params[:hourly_rate], options = {:min => 5.13, :max => 40, :step => 0.01, :class => "yp-search-setting-slider"}) %>
<!-- <div id="slider2"  class="yp-search-setting-slider" ></div> -->
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Shift</div><div class="yp-search-setting-label-right"></div>
<div class="clearBoth"></div>
</div>
<div class="btn-group" data-toggle="buttons" style="display:block;margin-bottom:20px;">
<!--   <label class="btn btn-primary active" style="width:25%">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Any
  </label>
  <label class="btn btn-primary" style="width:25%">
    <input type="radio" name="options" id="option2" autocomplete="off"> Day
  </label>
  <label class="btn btn-primary" style="width:25%">
    <input type="radio" name="options" id="option3" autocomplete="off"> Evening
  </label>
    <label class="btn btn-primary" style="width:25%">
    <input type="radio" name="options" id="option3" autocomplete="off"> Night
  </label> -->
 
  <label class="btn btn-primary <%= 'active' if params[:shift_id] == "-1" %>" style="width:25%" >
    <%= radio_button_tag "shift_id", "-1", (params[:shift_id] == "-1") ? true : false %> Any
  </label>
  <label class="btn btn-primary <%= 'active' if params[:shift_id] == "1" %>" style="width:25%">
    <%= radio_button_tag "shift_id", "1", (params[:shift_id] == "1") ? true : false %> Day
  </label>
  <label class="btn btn-primary <%= 'active' if params[:shift_id] == "2" %>" style="width:25%">
    <%= radio_button_tag "shift_id", "2", (params[:shift_id] == "2") ? true : false %> Evening
  </label>
  <label class="btn btn-primary <%= 'active' if params[:shift_id] == "3" %>" style="width:25%">
    <%= radio_button_tag "shift_id", "3", (params[:shift_id] == "3") ? true : false %> Night
  </label>


<!--
      label#default_shift.btn.btn-primary class=('active' if params[:shift_id] == "-1")
        = radio_button_tag "shift_id", "-1", (params[:shift_id] == "-1") ? true : false
        | Any
      label.btn.btn-primary class=('active' if params[:shift_id] == "1")
        / = radio_button_tag :shift_id, "1", id: "ShiftDay", label: false, checked: "checked"
        = radio_button_tag "shift_id", "1", (params[:shift_id] == "1") ? true : false
        | Day
      label.btn.btn-primary class=('active' if params[:shift_id] == "2")
        / = radio_button_tag :shift_id, "2", id: "ShiftEvening", label: false
        = radio_button_tag "shift_id", "2", (params[:shift_id] == "2") ? true : false
        | Evening
      label.btn.btn-primary class=('active' if params[:shift_id] == "3")
        / = radio_button_tag :shift_id, "3", id: "ShiftNight", label: false
        = radio_button_tag "shift_id", "3", (params[:shift_id] == "3") ? true : false
        | Night
-->


  <div class="clearBoth"></div>
</div>
<!-- <div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Job Type</div><div class="yp-search-setting-label-right"></div>
<div class="clearBoth"></div>
</div>
<div class="btn-group" data-toggle="buttons" style="display:block;margin-bottom:20px;">
  <label class="btn btn-primary active" style="width:33%">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Any
  </label>
  <label class="btn btn-primary" style="width:33%">
    <input type="radio" name="options" id="option2" autocomplete="off"> Part Time
  </label>
  <label class="btn btn-primary" style="width:34%">
    <input type="radio" name="options" id="option3" autocomplete="off"> Full Time
  </label>
  <div class="clearBoth"></div> -->

  <div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Job Type</div><div class="yp-search-setting-label-right"></div>
<div class="clearBoth"></div>
</div>
<div class="btn-group" data-toggle="buttons" style="display:block;margin-bottom:20px;">
  <label class="btn btn-primary <%= 'active' if params[:job_type] == "-1" %>" style="width:33%">
    <%= radio_button_tag "job_type", "-1", (params[:job_type] == "-1") ? true : false, id: " AnyTime " %> Any
  </label>
  <label class="btn btn-primary <%= 'active' if params[:job_type] == "false" %>" style="width:33%">
    <%= radio_button_tag "job_type", "false", (params[:job_type] == "false") ? true : false, id: " PartTime " %> Part Time
  </label>
  <label class="btn btn-primary <%= 'active' if params[:job_type] == "true" %>" style="width:34%">
    <%= radio_button_tag "job_type", "true", (params[:job_type] == "true") ? true : false, id: " FullTime " %> Full Time
  </label>
  <div class="clearBoth"></div>

<!-- 
        label#default_job_type.btn.btn-primary class=('active' if params[:job_type] == "-1" )
        = radio_button_tag "job_type", "-1", (params[:job_type] == "-1") ? true : false, id: " AnyTime "
        | Any
      label.btn.btn-primary class=('active' if params[:job_type] == "false" )
        = radio_button_tag "job_type", "false", (params[:job_type] == "false") ? true : false, id: " PartTime "
        | Part Time
      label.btn.btn-primary class=('active' if params[:job_type] == "true" )
        = radio_button_tag "job_type", "true", (params[:job_type] == "true") ? true : false, id: " FullTime "
        | Full Time
 -->
</div>
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Contract Type</div><div class="yp-search-setting-label-right"></div>
<div class="clearBoth"></div>
</div>
<div class="btn-group" data-toggle="buttons" style="display:block; margin-bottom:20px;">
  <!-- <label class="btn btn-primary active" style="width:33%">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Any
  </label>
  <label class="btn btn-primary" style="width:33%">
    <input type="radio" name="options" id="option2" autocomplete="off"> Permanent
  </label>
  <label class="btn btn-primary" style="width:34%">
    <input type="radio" name="options" id="option3" autocomplete="off"> Temporary
  </label> -->
  <label class="btn btn-primary <%= 'active' if params[:contract_type] == "-1" %>" style="width:33%">
    <%= radio_button_tag "contract_type", "-1", (params[:contract_type] == "-1") ? true : false, id: "AnyContract" %> Any
  </label>
  <label class="btn btn-primary <%= 'active' if params[:contract_type] == "true" %>" style="width:33%">
    <%= radio_button_tag "contract_type", "true", (params[:contract_type] == "true") ? true : false, id: "Permenant" %> Permanent
  </label>
  <label class="btn btn-primary <%= 'active' if params[:contract_type] == "false" %>" style="width:34%">
    <%= radio_button_tag "contract_type", "false", (params[:contract_type] == "false") ? true : false, id: "Temporary" %> Temporary
  </label>
<!--         label#default_contract_type.btn.btn-primary class=( 'active' if params[:contract_type] == "-1")
        = radio_button_tag "contract_type", "-1", (params[:contract_type] == "-1") ? true : false, id: "AnyContract"
        | Any
      label.btn.btn-primary class=( 'active' if params[:contract_type] == "true")
        = radio_button_tag "contract_type", "true", (params[:contract_type] == "true") ? true : false, id: "Permenant"
        | Permanent
      label.btn.btn-primary class=( 'active' if params[:contract_type] == "false")
        = radio_button_tag "contract_type", "false", (params[:contract_type] == "false") ? true : false, id: "Temporary"
        | Temporary -->
  <div class="clearBoth"></div>

</div>
<br>
<div class="btn-search"><%= submit_tag "Search Jobs", class: 'yp-search-setting-btn' %></div>
<!-- <a href="<%= list_search_index_path %>"><div class="yp-search-setting-btn">Search Jobs</div></a> -->
</div>
<br><br>

  <script>
    $(function() {
      $( "#slider1" ).slider();
      $( "#slider2" ).slider();
     //  $( "#slider1" ).slider({slide: showValue, change: showValue});
  	  // $( "#slider2" ).slider({slide: showValue, change: showValue});
      // $( "#slider1" ).bxSlider();
      // $( "#slider2" ).bxSlider();
    });
  </script>

<% end %>


<%- unless @jobs["jobs"].nil? %>
  <%- @jobs["jobs"].each do |job| %>
      <a href="<%= job_path(job["id"]) %>">
      <div class="yp-list">
          <div class="yp-list-left">
              <div class="yp-list-left-icon">        
              <%= image_tag "http://www.yapjobs.com/" + job["role"]["image"], width: "26", height: "27" %>

              </div>
        </div>
          <div class="yp-list-content">
              <div class="yp-list-content-job-title"><%= job["role"]["name"] %></div>
                  <div class="yp-list-content-address"><%= job["business"]["address"] %></div>
                      <div class="yp-list-content-footer">
                      <!-- <div class="yp-list-content-footer-distance"><%= job["distance"] %> miles away</div> -->
                      <div class="yp-list-content-footer-salary"><%= job["hourly_rate"] %> ph</div>
                      <div class="clearBoth"></div>
                  </div>
          </div>
          <div class="clearBoth"></div>

      </div>
      </a>
  <% end %>
<% end %>


<!--
  <div class="yp-search-setting-section">
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Location</div><div class="yp-search-setting-label-right "></div>
<div class="clearBoth"></div>
</div>
<div class="yp-search-setting-input"><input name="" type="text" value="Enter Location"></div>
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Distance Within</div><div class="yp-search-setting-label-right ">20 Miles</div>
<div class="clearBoth"></div>
</div>
<div id="slider1"  class="yp-search-setting-slider" ></div>

<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Position</div>
<div class="clearBoth"></div>
</div>

<!-- Single button -->
<!-- <div class="yp-set-dropdown-btn-group">
  <button type="button" class="yp-set-dropdown-btn" >
    <span class="yp-set-dropdown-btn-icon"><%= image_tag "yp-drop-down-icon-1.png" %></span>Receptionist 
  </button>
  
</div>


<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Hourly Rate</div><div class="yp-search-setting-label-right ">₤ 6.5</div>
<div class="clearBoth"></div>
</div>
<div id="slider2"  class="yp-search-setting-slider" ></div>
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Shift</div><div class="yp-search-setting-label-right"></div>
<div class="clearBoth"></div>
</div>
<div class="btn-group" data-toggle="buttons" style="display:block;margin-bottom:20px;">
  <label class="btn btn-primary active" style="width:25%">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Any
  </label>
  <label class="btn btn-primary" style="width:25%">
    <input type="radio" name="options" id="option2" autocomplete="off"> Day
  </label>
  <label class="btn btn-primary" style="width:25%">
    <input type="radio" name="options" id="option3" autocomplete="off"> Evening
  </label>
    <label class="btn btn-primary" style="width:25%">
    <input type="radio" name="options" id="option3" autocomplete="off"> Night
  </label>
  <div class="clearBoth"></div>
</div>
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Job Type</div><div class="yp-search-setting-label-right"></div>
<div class="clearBoth"></div>
</div>
<div class="btn-group" data-toggle="buttons" style="display:block;margin-bottom:20px;">
  <label class="btn btn-primary active" style="width:33%">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Any
  </label>
  <label class="btn btn-primary" style="width:33%">
    <input type="radio" name="options" id="option2" autocomplete="off"> Part Time
  </label>
  <label class="btn btn-primary" style="width:34%">
    <input type="radio" name="options" id="option3" autocomplete="off"> Full Time
  </label>
  <div class="clearBoth"></div>

</div>
<div class="yp-search-setting-label">
<div class="yp-search-setting-label-left" >Contract Type</div><div class="yp-search-setting-label-right"></div>
<div class="clearBoth"></div>
</div>
<div class="btn-group" data-toggle="buttons" style="display:block; margin-bottom:20px;">
  <label class="btn btn-primary active" style="width:33%">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Any
  </label>
  <label class="btn btn-primary" style="width:33%">
    <input type="radio" name="options" id="option2" autocomplete="off"> Permanent
  </label>
  <label class="btn btn-primary" style="width:34%">
    <input type="radio" name="options" id="option3" autocomplete="off"> Temporary
  </label>
  <div class="clearBoth"></div>

</div>
<br>
<a href="<%= list_search_index_path %>"><div class="yp-search-setting-btn">Search Jobs</div></a>
</div>
<br><br>

  <script>
    $(function() {
      $( "#slider1" ).slider();
      $( "#slider2" ).slider();
     //  $( "#slider1" ).slider({slide: showValue, change: showValue});
      // $( "#slider2" ).slider({slide: showValue, change: showValue});
      // $( "#slider1" ).bxSlider();
      // $( "#slider2" ).bxSlider();
    });
  </script>

-->