<div class="yp-header">
<div class="yp-header-left-btn">
        <a href="<%=root_path %>"><div class="yp-header-left-btn-icon"><%= image_tag "yp-list-header-back-icon.png", width: "13", height: "22" %></div></a>
  </div>
    <div class="yp-header-logo">
        <a href="<%=root_path %>"><div class="yp-header-logo-icon"><%= image_tag "yp-home-yapjobs-logo.png" %></div></a>
    </div>
    <div class="yp-header-next-btn">
<!--      <a href="<%= search_index_path %>"><div class="yp-header-next-btn-icon"><%= image_tag "yp-list-header-setting-icon.png", width: "23", height: "23" %></div></a> -->
        <%= form_tag('/search/list', method: "get", class: "setting-button") do %>
            <%= hidden_field_tag "distance", "50" %>
            <%= hidden_field_tag "current_position" %>
            <%= hidden_field_tag "job_role_id", "-1" %>
            <%= hidden_field_tag "hourly_rate", "5.13" %>
            <%= hidden_field_tag "shift_id", "-1" %>
            <%= hidden_field_tag "job_type", "-1" %>
            <%= hidden_field_tag "contract_type", "-1" %>
            <%= image_submit_tag("yp-list-header-setting-icon.png", width: "23", height: "23") %>
        <% end %>
    </div>
    <div class="clearBoth"></div>
</div>

<%- unless @jobs["jobs"].nil? %>
    <%- @jobs["jobs"].each do |job| %>
        <a href="<%= job_path(job["id"]) %>">
        <div class="yp-list">
            <div class="yp-list-left">
                <div class="yp-list-left-icon">      
                <%= image_tag ENV["BASE_SERVER"] + job["role"]["image"], width: "26", height: "27" %>

                </div>
          </div>
            <div class="yp-list-content">
                <div class="yp-list-content-job-title"><%= job["role"]["name"] %></div>
                    <div class="yp-list-content-address"><%= job["business"]["address"] %></div>
                        <div class="yp-list-content-footer">
                        <!-- <div class="yp-list-content-footer-distance"><%= job["distance"] %> miles away</div> -->
                        <div class="yp-list-content-footer-salary"><%= job["hourly_rate"] %> ph</div>
                        <div class="clearBoth"></div>
                    </div>
            </div>
            <div class="clearBoth"></div>

        </div>
        </a>
    <% end %>
<% end %>
<!-- 
<a href="jobs/1">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">        
        <= image_tag "yp-list-left-icon-1.png", width: "26", height: "27" %>

        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">        
        <= image_tag "yp-list-left-icon-Cook.png", width: "26", height: "27" %>
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-b.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-1.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Bartender</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-c.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cook.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Chef / Cook</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-w.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Waiter.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Waiter / Waitress</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-r.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Receptionist.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Receptionist</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-s.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Security.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Security Guard</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a>
<a href="job-cl.html">
<div class="yp-list">
    <div class="yp-list-left">
        <div class="yp-list-left-icon">
        <img src="images/yp-list-left-icon-Cleaner.png" width="26" height="27" alt="">
        </div>
  </div>
    <div class="yp-list-content">
        <div class="yp-list-content-job-title">Cleaner</div>
            <div class="yp-list-content-address">Belgrave Road London</div>
                <div class="yp-list-content-footer">
                <div class="yp-list-content-footer-distance">1 miles away</div>
                <div class="yp-list-content-footer-salary">6.5 ph</div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>

</div>
</a> -->